*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:none;
  background-color: rgb(218, 226, 191);
}

h1{
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  color: rgb(39, 88, 181);
  
  
}

h1 span{
  letter-spacing: 10px;
}

.parent_cursor
{
  position: absolute;
  top:0;
  left:0;
  width:20px;
  height: 20px;
  border-radius:50%;
  border: 3px solid black;
}

.child_cursor
{
  position: absolute;
  left: 0;
  top: 0;
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(215, 35, 35);
  transition: transform 0.3s;
}

footer{
  position: absolute;
  bottom: 20px;
  color:rgb(56, 18, 226);
  font-family: cursive;
  font-size: 1.2rem;
}
